output/
./*.log
*.tmp
.DS_Store
node_modules/
.env
.idea/
.vscode/
*.bak
*.swp
dist/
build/
coverage/
*.class
*.jar
*.war
*.iml
*.pyc   
__pycache__/
*.sqlite3
*.db
*.egg-info/
*.egg
*.lock
*.pid
*.seed
*.pid.lock
venv/